/* mobile (xs) */
.header {
  margin-top: 20px;
  width: 100vw;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-end;
}

.header__hamburger {
  color: var(--blue);
  font-size: var(--font-size-xs-subtitle);
  margin-right: 34px;
}

/* tablet (md) */
@media (min-width: 768px) {
  .header {
    justify-content: center;
  }

  .header__nav {
    display: flex;
    max-width: 668px;
    gap: 25px;
  }

  .header__nav-link {
    text-decoration: none;
    font-size: var(--font-size-md-sentence);
    color: var(--blue);
  }

  .header__nav-link:hover {
    color: var(--green-light);
    transform: scale(1.2);
  }

  .header__nav-link--selected {
    text-decoration: underline;
    color: var(--green);
  }

  .header__nav-separator {
    border-left: 1px solid var(--blue-dark);
  }
}

/* web (lg) */
@media (min-width: 1024px) {
  .header__nav {
    max-width: 723px;
    gap: 30px;
  }

  .header__nav-link {
    font-size: var(--font-size-lg-sentence);
  }
}
