.hire-me {
  @include flex-props(column, center);
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;

  &__title {
    text-align: center;
  }

  &__message {
    text-align: justify;
  }

  &__form {
    @include flex-props(column);
    gap: 20px;

    &-subscribe {
      text-align: center;
    }

    &-send {
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    &__title {
      text-align: left;
    }

    &__message {
      text-align: center;
    }

    &__form {
      display: grid;
      grid-template-areas:
        "form-name form-message"
        "form-email form-message"
        "form-number form-message"
        "form-company form-message"
        "form-subscribe form-message"
        "form-send form-send";

      &-name {
        grid-area: form-name;
      }
      &-email {
        grid-area: form-email;
      }
      &-number {
        grid-area: form-number;
      }
      &-company {
        grid-area: form-company;
      }
      &-suscribe {
        grid-area: form-suscribe;
      }
      &-suscribe {
        grid-area: form-suscribe;
      }

      &-message {
        grid-area: form-message;
        height: 100%;
      }

      &-send {
        grid-area: form-send;
        justify-self: end;
        width: 200px;
      }
    }

  }

  @media (min-width: 1024px) {
  }

}
