.hire-me {
  @include flex-props(column, center);
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  color: map-get($colors, blue);
  gap: 20px;

  &__title {
    text-align: center;
  }

  &__message {
    text-align: justify;
  }

  &__form {
    @include flex-props(column);
    gap: 20px;
  }

  &__form-subscribe {
    text-align: center;
  }

  &__form-send {
    text-align: center;
  }

  @media (min-width: 768px) {
    &__title {
      text-align: left;
    }

    &__message {
      text-align: center;
    }

    &__form {
      display: grid;
      grid-template-areas:
        "form-name form-message"
        "form-email form-message"
        "form-number form-message"
        "form-company form-message"
        "form-subscribe form-message"
        "form-send form-send";
    }

    &__form-name {
      grid-area: form-name;
    }
    &__form-email {
      grid-area: form-email;
    }
    &__form-number {
      grid-area: form-number;
    }
    &__form-company {
      grid-area: form-company;
    }
    &__form-suscribe {
      grid-area: form-suscribe;
    }
    &__form-suscribe {
      grid-area: form-suscribe;
    }

    &__form-message {
      grid-area: form-message;
      height: 100%;
    }

    &__form-send {
      grid-area: form-send;
      justify-self: end;
      width: 200px;
    }
  }

  @media (min-width: 1024px) {
  }

}
