.home {
  display: grid;
  grid-template-areas:
    "home__image"
    "home__texts"
    "home__actions";
  margin: 15px;
  gap: 15px;

  &__texts {
    grid-area: home__texts;
  }

  &__actions {
    grid-area: home__actions;
    @include flex-props(column);
    gap: 20px;
    margin: 20px 0;

    a {
      width: 100%;
      text-align: center;
    }
  }

  &__image {
    grid-area: home__image;
    margin: 20px 0;
    text-align: center;
  }
  &__image img {
    width: 70%;
    @include img-animation() {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.1);
      }
    };
  }

  @media (min-width: 768px) {
    grid-template-areas:
      "home__texts home__texts"
      "home__actions home__image";

    &__texts {
      width: 70%;
      margin: 0 auto;
      align-self: end;
    }

    &__actions {
      align-self: center;
    }

    &__image {
      img {
        width: 80%;
      }
    }
  }

  @media (min-width: 1024px) {
    grid-template-areas:
      "home__texts home__image"
      "home__actions home__image";
    margin: 20px auto;

    &__texts {
      width: 100%;
    }
    &__image {
      align-self: center;
    }

    &__actions {
      align-self: start;
      flex-direction: row;
      a {
        &:first-child {
          width: 40%;
        }
      }
    }
  }

}
