body {
  font-family: $oswald-font;
  min-height: 100vh;
  @include flex-props(column);
}

.main__container {
  flex: 1;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.pointer {
  cursor: pointer;
}

