.header {
  @include flex-props(column);
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;

  &__hamburger {
    @include flex-props(row, flex-end);
    color: map-get($colors, blue);
    font-size: map-get(map-get($text-styles-sizes, title), xs);
    margin-right: 20px;
  }

  @media (min-width: 768px) {
    margin-top: 20px;
    @include flex-props(column, normal, center);
    justify-content: center;

    &__hamburger {
      display: none;
    }

    &__nav {
      @include flex-props();
      max-width: 668px;
      gap: 25px;

      &-link {
        text-decoration: none;
        font-size: map-get(map-get($text-styles-sizes, sentence), mg);
        color: map-get($colors, blue);

        &:hover {
          color: map-get($colors, green-light);
          transform: scale(1.2);
        }

        &--selected {
          @extend .header__nav-link;
          text-decoration: underline;
          color: map-get($colors, green);
          pointer-events: none;
        }
      }

      &-divider {
        border-left: 1px solid map-get($colors, blue-dark);
      }
    }
  }

  @media (min-width: 1024px) {
    &__nav {
      max-width: 723px;
      gap: 30px;

      &-link {
        font-size: map-get(map-get($text-styles-sizes, sentence), lg);
      }
    }
  }

  // nav mobile

  #nav__mobile {
    display: none;

    @media (min-width: 768px) {
      display: none !important;
    }
  }

  .nav__mobile {
    @include flex-props(column);
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

    &-container {
      @include flex-props(column);
      gap: 10px;
      max-width: 80%;
      margin: 20px auto;
      text-align: center;
    }

    &-divider {
      border-top: 1px solid map-get($colors, blue);
    }

    &-link {
      text-decoration: none;
      font-size: map-get(map-get($text-styles-sizes, sentence), mg);
      color: map-get($colors, blue);

      &--selected {
        @extend .nav__mobile-link;
        text-decoration: underline;
        color: map-get($colors, green);
        pointer-events: none;
      }
    }
  }
}





// breadcrumbs
.breadcrumb {
  @include flex-props(row, flex-start);
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  gap: 10px;

  &__nav {
    &-link {
      text-decoration: none;
      color: map-get($colors, blue-dark);

      &:hover {
        color: map-get($colors, green-light);
      }
    }
  }

  &__divider {
    border-left: 1px solid map-get($colors, blue);
    transform: rotate(15deg);
  }

  &__name {
    color: map-get($colors, blue-light);
  }
}
