/* start btn */
/* mobile (xs) */
.btn {
  text-decoration: none;
  font-size: map-get(map-get($text-styles-sizes, text), xs);
}

.btn-primary {
  border: 2px solid map-get($colors, green);
  background-color: map-get($colors, green);
  color: map-get($colors, gray);
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: map-get($colors, green-light);
}

.btn-secondary {
  border: 2px solid map-get($colors, green);
  color: map-get($colors, green);
  border-radius: 5px;
}

.btn-secondary:hover {
  border: 2px solid map-get($colors, green-light);
  color: map-get($colors, green-light);
}

.btn-medium {
  font-size: map-get(map-get($text-styles-sizes, paragraph), xs);
}

.btn-large {
  font-size: map-get(map-get($text-styles-sizes, sentence), xs);
}

/* tablet (md) */
@media (min-width: 768px) {
  .btn {
    font-size: map-get(map-get($text-styles-sizes, text), md);
  }

  .btn-medium {
    font-size: map-get(map-get($text-styles-sizes, paragraph), md);
  }

  .btn-large {
    font-size: map-get(map-get($text-styles-sizes, sentence), md);
  }
}

@media (min-width: 1024px) {
  .btn {
    font-size: map-get(map-get($text-styles-sizes, text), lg);
  }

  .btn-medium {
    font-size: map-get(map-get($text-styles-sizes, paragraph), md);
  }

  .btn-large {
    font-size: map-get(map-get($text-styles-sizes, sentence), lg);
  }
}
